In [1]:
import pandas as pd

In [5]:
routes = pd.read_csv("Jordan's_routes_analysis.csv", header=[0])

In [7]:
routes.columns = routes.iloc[0]

routes = routes.iloc[1:].reset_index(drop=True)

routes.head()

,source_idx,destination_idx,class,observation,Class_1,Class_2,Cost,Cost/dist,NaN
0,"-8868856, 5464483","-8858630, 5466075",R4C0,Country road -,Road,Suburban,5361.723,0.68511666240736,NaN
1,"-10807908, 6429309","-10801031, 6428139",R4C3,Freeway,Freeway,Suburban,2737.017,0.42082057195572,NaN
2,"-10809742, 6372172","-10810989, 6370903",R5C2,Spring road - along farm,Freeway,Rural,905.069,0.572828481012658,NaN
3,"-10806941, 6375771","-10803255, 6375781",R5C1,Spring road - along farm,Freeway,Rural,999.505,0.418377982419422,NaN
4,"-11643958, 6520656","-11643546, 6518248",R4C3,Bikeway along trail,Pedestrian Walkway,Trail,4692.149,0.470626780341023,NaN

In [8]:
routes_filter = routes[['observation','Class_1','Class_2','Cost','Cost/dist']]

In [32]:
routes_filter.dtypes

0
observation     object
Class_1         object
Class_2         object
Cost           float64
Cost/dist       object
dtype: object

In [33]:
routes_filter["Cost"] = pd.to_numeric(routes_filter["Cost"] )
routes_filter["Cost/dist"] = pd.to_numeric(routes_filter["Cost/dist"] )

In [34]:
routes_filter.columns

Index(['observation', 'Class_1', 'Class_2', 'Cost', 'Cost/dist'], dtype='object', name=0)

In [36]:
routes_filter.groupby(['Class_1','Class_2']).median().sort_values('Cost')

0                                                   Cost  Cost/dist
Class_1                Class_2
Road                   Residential               632.811   0.382569
                       Arterial                  634.455   0.376979
Shared bikeway on road Residential               702.175   0.426854
Freeway                Rural                     952.287   0.495603
Road                   Back loops on main road  1169.980   0.493246
Road/path              Forested                 1819.296   1.023802
Pedestrian Walkway     Trail                    1992.626   0.470627
Road/path              Back loops on main road  2004.652   0.596623
Pedestrian Walkway     Rural/Arterial           2504.340   0.445374
Freeway                Suburban                 2579.067   0.387160
Road/Path              Unpaved                  3451.566   0.606282
Road                   Suburban                 5361.723   0.685117
Unpaved path           Rural                    8623.682   2.082009

In [38]:
cost_ott = pd.read_csv('costs-ott_analysis.csv')

In [40]:
cost_ott.columns = cost_ott.iloc[0]

cost_ott = cost_ott.iloc[1:].reset_index(drop=True)

cost_ott.head()

,Class_1,Class_2,duration,distance,cost,dur/dist,cost/dist,cost/dur
0,Road,Residential,430.295,1492.019,1492.019,0.208375302663438,0.722527360774818,3.46743280772493
1,Pedestrian Pathway,Trail,56.596,276,69.959,0.205057971014493,0.253474637681159,1.2361120927274
2,Road,Residential,320.492,1376,661.876,0.232915697674419,0.481014534883721,2.06518727456536
3,Road,Residential,96.441,449,258.173,0.214790645879733,0.574995545657016,2.67700459348203
4,Pedestrian Pathway,Trail,67.918,335,83.317,0.202740298507463,0.248707462686567,1.2267292912041

In [41]:
cost_ott["cost"] = pd.to_numeric(cost_ott["cost"] )
cost_ott["cost/dist"] = pd.to_numeric(cost_ott["cost/dist"] )
cost_ott["dur/dist"] = pd.to_numeric(cost_ott["dur/dist"] )
cost_ott["cost/dur"] = pd.to_numeric(cost_ott["cost/dur"] )

In [42]:
cost_ott.groupby(['Class_1','Class_2']).median().sort_values('cost')

0                                          cost  dur/dist  cost/dist  cost/dur
Class_1                   Class_2
Pedestrian Pathway        Trail         76.6380  0.203899   0.251091  1.231421
Shared bikeway along road Residential  104.5840  0.239189   0.306003  0.779101
Road                      Bus loop     258.1730  0.214791   0.574996  2.677005
                          Residential  460.0245  0.215450   0.528005  2.371096